
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    
    margin-left: 1%;
    font-weight: 400;
}

.title-left a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.title-left a h4{
    margin-left: 6%;
}


.container{
    display: flex;
    align-items: center;
    padding: 2% 6% 0% 12%;
    margin-bottom: 3%;
    position: relative;
    
}

.title-middle{
    margin-left: 15%;
    
}

.title-middle a{
    text-decoration: none;
    color: rgb(105, 101, 101);
    font-weight: 100;
    margin-left: 30px;
    
}

.title-right{
    margin-left: 5%;
    padding-left: 5%;
    
}

.title-right a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    margin-left: 20px;
}

.title-right a.signup{
    color: rgb(233, 16, 16);
    border-radius: 25px;
    border: red 2px solid;
    padding: 10px 30px 10px 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.fa-check{
    color: rgb(13, 235, 109);
    margin-right: 20px;
}


.banner-text h1{
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
}
.banner-text p{
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    color: gray;
    margin-bottom: 70px;
}

.banner-text a{
    text-decoration: none;
    color: rgb(241, 237, 237);
    border: 2px solid rgb(241, 36, 36);
    background-color: rgb(228, 51, 51);
    padding: 2% 8% 2% 8%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px red;
}

.stats{
    display: flex;
    width: 100%;
    padding: 4% 1% 4% 8%;
    box-shadow:  0px 15px 50px gray;
    
}

.stat{
    display: flex;
    width: 38%;
    align-items: center;
    margin-left: 5%;
}


.icon{
    color: rgb(196, 64, 64);
    font-size: xx-large;
}

.innerbox{
    margin-left: 7%;
}

.features{
    display: flex;
    background-color: rgb(253, 253, 253);
    width: 100%;
    
}

.feature-banner{
    width: 50%;
}

.feature-text{
    width: 50%;
    margin-left: 10%;
}

.feature-text p{
    font-size: 36px;
    font-weight: 100;
}

.feature-text p.des{
    font-size: 16px;
    font-weight: 100;
    color: gray;
}

.feature-text p.feature{
    font-size: 14px;
    color: gray;
}

.plans{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.plans h2{
   font-weight: 200;
}
.plans p{
    font-weight: 100;
    color: gray;
 }

 .threeplans{
     display: flex;
     width: 100%;
     margin-top: 5%;
 }

 .plan{
     display: flex;
     flex-direction: column;
     border: 2px rgb(214, 214, 214) solid;
     width: 30%;
     align-items: center;
     padding: 3%;
     margin-right: 5%;
     border-radius: 10px;
     -webkit-border-radius: 19px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     box-shadow: 0px 10px 20px gray;
}

 .plan-name{
     color: black;
     margin-top: 10%;
     margin-bottom: 10%;
 }

 .plan-features{
     color: gray;
     font-size: 14px;
     font-weight: 400;
    
 }

 
.select-button{
    text-decoration: none;
    color: rgb(241, 12, 12);
    border: red 2px solid;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 10px 30px 10px 30px;
}

.select-button:hover{
    color: white;
    background-color: red;
}

.pricing1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33%;
}
.pricing2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22%;
}
.pricing3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
}

.global{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.global p{
    font-size: 35px;
    text-align: center;
}

.global p.small{
    font-size: 16px;
    color: gray;
    margin-bottom: 10%;
}

.feedback-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.reviews{
    display: flex;
    width: 100%;
}

.banner{
    display: flex;
    width: 100%;
    height: 200px;
    border: rgb(219, 217, 217) 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
}

.review{
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
}

.reviewer-image{
    display: flex;
    width: 70%;
}

.subs{
    display: flex;
    height: 200px;
    width: 100%;
    border: 2px rgb(207, 205, 205) solid;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 15px 5px 15px;
    justify-content: space-around;
    align-items: center;
    
}

.subtext{
    margin: 0;
    padding: 0;
}

.subs div a{
    text-decoration: none;
    color: rgb(241, 237, 237);
    border: 2px solid rgb(241, 36, 36);
    background-color: rgb(228, 51, 51);
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px red;
}

.help{
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
    width: 100%;
    display: flex;
    
}

.last{
    background-color: rgb(219, 219, 219);
}

.company{
    width: 50%;
    
}

.company i{
    color: red;
    font-size: 24px;
    margin-right: 2%;
}

.links{
    width: 50%;
    display: flex;
}

.product{
    display: flex;
    flex-direction: column;
    width: 29%;
    
}

.product a{
        text-decoration: none;
        color: gray;
        margin-bottom: 15%;
}

.earn{
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}
.earn a{
    text-decoration: none;
    color: gray;
    margin-bottom: 15%;
    width: 100%;
}
@media screen and (max-width: 500px){
    .title{
        margin-left: 0;
    }
    .title-left a h4{
        margin-left: 0%;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}